@{
	ViewData["Title"] = "Over Ons";
}
<h1>Over ons</h1>
<p>
	Welkom bij ons restaurant! Wij zijn trots op onze heerlijke gerechten en gastvrije sfeer. Ons restaurant is de perfecte plek om te genieten van een geweldige maaltijd met vrienden en familie. We streven ernaar om onze klanten de beste culinaire ervaring te bieden.
</p>

<p>
	Ons menu biedt een breed scala aan gerechten, van ontbijt- en lunchspecialiteiten tot overheerlijke suggesties voor het diner. We gebruiken alleen de beste ingrediënten en onze getalenteerde koks bereiden elk gerecht met zorg en precisie.
</p>