
<h1>Reservatie</h1>
<div class="alert alert-success" role="alert">
    <p>Uw reservatie werd succesvol geregistreerd!</p>
</div>

<div>
    <p><a asp-action="Index">Ga naar overzicht</a>  | <a asp-controller="Home" asp-action="Index">Terug naar Home-Pagina</a>  </p>
</div>