@model Student 

<p>
	<strong>ID: <span>@Model.Id</span></strong>
</p>

<p>
	<strong>First name: <span>@Model.FirstName</span></strong>
</p>

<p>
	<strong>Last name: <span>@Model.LastName</span></strong>
</p>

<p>
	<strong>: <span>@Model.FirstName</span></strong>
</p>