@{
    ViewData["Title"] = "Over Ons";
}

<div class="container">
    <h1>Over ons</h1>
    <p>Welkom bij comme chez swa, waar passie voor culinaire perfectie samensmelt met de kunst van gastvrijheid. Met een rijke geschiedenis geworteld in familietraditie en een toewijding aan verse, lokaal geproduceerde ingrediënten, nodigen we u uit om te genieten van de heerlijke creaties van onze chef-kok. Onze warme sfeer en toegewijd personeel beloven een onvergetelijke culinaire ervaring. Kom bij ons langs en ontdek een wereld van smaken, speciaal voor u bereid."
        Vervang comme chez swa door de daadwerkelijke naam van uw restaurant. Deze beschrijving geeft potentiële klanten een idee van waar uw restaurant voor staat en zou hen moeten aansporen om bij u te komen dineren.
    </p>
</div>